templates/daily-spend-report.json
{
  "name": "Daily Spend Report with Budget Monitoring",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "cron-1",
      "name": "Every day at 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mandateId": "={{ $env.KORA_MANDATE_ID ?? 'mandate_your_id_here' }}"
      },
      "id": "budget-1",
      "name": "Kora Budget Check",
      "type": "n8n-nodes-kora.koraBudget",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "koraAgentApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-threshold",
              "leftValue": "={{ $json.percent_daily_used }}",
              "rightValue": 80,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-1",
      "name": "Over 80% Used?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "post",
        "channel": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $env.SLACK_CHANNEL ?? '#finance-alerts' }}"
        },
        "text": "=:rotating_light: *Budget Alert — {{ $json.percent_daily_used }}% daily budget used*\n\nMandate: `{{ $json.mandate_id }}`\nCurrency: {{ $json.currency }}\nDaily Spent: {{ $json.daily_spent_cents / 100 }} / {{ $json.daily_limit_cents / 100 }}\nDaily Remaining: {{ $json.daily_remaining_cents / 100 }}\nMonthly Remaining: {{ $json.monthly_remaining_cents / 100 }}\nStatus: {{ $json.status }}",
        "otherOptions": {}
      },
      "id": "slack-alert-1",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [920, 200],
      "credentials": {
        "slackApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {},
      "id": "noop-1",
      "name": "Log OK",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [920, 420]
    }
  ],
  "connections": {
    "Every day at 9am": {
      "main": [
        [
          {
            "node": "Kora Budget Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kora Budget Check": {
      "main": [
        [
          {
            "node": "Over 80% Used?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Over 80% Used?": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "tags": [
    { "name": "monitoring" },
    { "name": "budget" },
    { "name": "kora" }
  ]
}
